<header>
    <div class="row">
        <div class="m-auto col-6 col-md-5 col-lg-4 col-xl-3">
            <a href="{{ base_url() }}">
                <img src="{{ meta_img }}" class="w-100 my-4 rounded-circle">
            </a>
        </div>
    </div>
    <div class="py-4 border-bottom">
        {% set widget = widget.getWidget('bio') %}
        {{ widget_translation.getWidgetTranslation(widget, page.getLanguage()).getContent()|raw }}
    </div>
</header>
