{% set meta_img = page.getMetaImage() %}
{% if meta_img and (not (meta_img starts with 'http://') and not (meta_img starts with 'https://')) %}
    {% set meta_img = base_url() ~ '/uploads/' ~ meta_img %}
{% endif %}
<!DOCTYPE html>
<html lang="{{ page.getLanguage().getLocale() }}">
    <head>
        {% include 'title.twig' %}
        {% include 'meta.twig' %}
        {% include 'style.twig' %}
    </head>
    <body>
        <div class="container my-4">
            <div class="row">
                <div class="col-md-6 m-auto">
                    <div class="card">
                        <div class="card-body text-center p-4">
                            {% include 'header.twig' %}
                            {% include 'main.twig' %}
                            {% include 'footer.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'cookie-info.twig' %}
        {% include 'scripts.twig' %}
    </body>
</html>
